<ul>
  <li><%= link_to "Início", root_path, class: "ls-ico-month" %></li>
  <li><%= link_to "Categorias", categories_path, class: "ls-ico-month" %></li>
  <li><%= link_to "Origens", sources_path, class: "ls-ico-month" %></li>
  <li><%= link_to "Períodos", periods_path, class: "ls-ico-month" %></li>
</ul>
